{{- define "featured" -}}
    {{- partial "home/featured.html" . -}}
{{- end -}}

{{- define "main" -}}
    {{- $page := . -}}
    {{- range $index, $section := site.Params.home.sections -}}
        {{- $pages := where site.RegularPages "Type" "in" $section -}}
        {{- $sectionURL := "" -}}
        {{- range $page := first 1 $pages -}}
            {{- $sectionURL = $page.Parent.RelPermalink -}}
        {{- end -}}

        {{- $moreTitle := (printf "More %s" ( $section | humanize )) | title -}}

        {{- partial "assets/section-list.html" (dict 
            "page" $page 
            "section" $section 
            "home" true 
            "moreTitle" $moreTitle
            "sectionURL" $sectionURL)
        -}}
    {{- end -}}
{{- end -}}