<div class="container-fluid flex-fill position-relative bg-primary bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }} p-4 h-100">
    <div class="row row-cols-1 row-cols-sm-3 align-items-center pt-5 pb-5 h-100 position-relative z-1 text-light">
        <div class="col col-md-2 d-none d-md-block"></div>
        <div class="col col-sm-6 col-md-4 text-center text-sm-start">
            <img src="https://www.gravatar.com/avatar/0b463dbfb070e4e3fe3cc7443f8ec9eb?s=244" alt="an image of Erik Slagter" class="rounded-circle w-25 border mb-3">
            <p class="fs-1 fw-bold">{{ .Title }}</p>
            <p>{{ .Content }}</p>
            {{ if .Site.Params.feature.link }}
            <p><a class="btn btn-primary" href="{{ .Site.Params.feature.link | safeURL }}" target="_blank" role="button">{{ .Site.Params.feature.caption | default (T "about") }}</a>
                {{ if .Site.Params.feature2.link }}
                <a class="btn btn-primary" href="{{ .Site.Params.feature2.link | safeURL }}" target="_blank" role="button">{{ .Site.Params.feature2.caption | default (T "about") }}</a>
                {{ end }}
                <a class="btn btn-primary" href="/contact" target="_blank" role="button">Contact Me</a>
            </p>
            {{ end }}
        </div>
        <div class="col col-sm-6 col-md-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QgQ4t1LQbfU" class="ratio ratio-16x9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {{/*  {{ if .Site.Params.home.featurePhoto }}
            {{- partial "image.html" (dict "url" .Site.Params.home.featurePhoto "ratio" "4x3" "outerClass" "img-wrap" "innerClass" "rounded" "title" .Site.Title) -}}
            {{ end }}  */}}
        </div>
        <div class="col col-md-2 d-none d-md-block"></div>
    </div>
    <div class="bg-black opacity-75 position-absolute object-fit-cover top-0 start-0 w-100 h-100 z-0"></div>
    <video autoplay muted loop id="bgVideo" class="position-absolute object-fit-cover top-0 start-0 w-100 h-100 z-n1">
        <source src="/video/bg-video.mp4" type="video/mp4">
    </video>
</div>